:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

html {
  box-sizing: border-box;
  overflow:auto;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 150px;
}

header .container {
  background: url('../images/original.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 4px 5px 6px -2px rgba(34, 60, 80, 0.2);
}



.form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.search-form {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
}

.search-form input {
  width: 400px;
  height: 30px;
  padding: 6px;
  margin-right: 10px;
  border: 3px solid grey;
  border-radius: 5px;
  outline: none;

}

.search-form input:focus {
  border-color: black;
}

.btn {
  display: block;
  min-width: 30px;
  height: 30px;
  font-weight: bold;
  color: aliceblue;
  background-color: gray;

  border: 3px solid grey;
  border-radius: 5px;
  outline: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-top: -10px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.picture-item{
  flex-basis: calc(100% / 3 - 10px);
  margin-left: 10px;
  margin-top: 10px;
  /* border: 2px solid black; */
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 8px -2px rgba(34, 60, 80, 0.2);

  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.picture-item:hover {
  transform: scale(0.98);
}

.picture-wrapper {
  max-width: 100%;
  height: 250px;
  margin: 0;
  overflow: hidden;
}

.picture {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

.stats-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.material-icons {
  margin-right: 5px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: grey;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container.load-flex {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.load-btn {
  margin: 0 auto;
}

.load-btn.hide {
  opacity: 0;
  display: none;
}

.on-show {
  position: absolute;
  z-index: 1000;
  display: block;
  width: 100vh;
  height: 100vh;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.on-close {
  display: none;
  width: 100vh;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.basicLightbox--visible {
  opacity: 1;
}

.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.8);
  opacity: 1;
  transition: opacity .4s ease;
  z-index: 1000;
  will-change: opacity;
}

.basicLightbox img {
  object-fit: cover;
}

.error {
    color: cornsilk;
    font-weight: bold;
    background-image: radial-gradient(circle at 94.87% 12.35%, #95b7ff 0, #6494ed 50%, #1b73d3 100%);
    border-radius: 10px;
}